## Importing Data with NumPy

### 1. Run the following cells:

In [1]:
import numpy as np

In [2]:
np.set_printoptions(suppress = True, linewidth = 150)

### 2. Use loadtxt() to import the same file and display its contents. 
   <b> Hint:</b> By default np.loadtxt() asusmes all the values will be numeric, so it crashes when it encounters text data. We can bypass this by specifying the datatype to NumPy strings when importing.

In [4]:
lending_co_TP = np.loadtxt("Lending-Company-Total-Price.csv", delimiter = ',', dtype = str)

In [5]:
lending_co_TP

array([['LoanID', 'StringID', 'Product', ..., 'Location', 'Region', 'TotalPrice'],
       ['1', 'id_1', 'Product B', ..., 'Location 2', 'Region 2', '16600'],
       ['2', 'id_2', 'Product B', ..., 'Location 3', '', '16600'],
       ...,
       ['413', 'id_413', 'Product B', ..., 'Location 135', 'Region 1', '16600'],
       ['414', 'id_414', 'Product C', ..., 'Location 200', 'Region 6', '15600'],
       ['415', 'id_415', 'Product A', ..., 'Location 8', 'Region 2', '22250']], dtype='<U14')

### 3. Use np.genfromtxt() to import the "Lending-Company-Total-Price.csv" file and display its contents.
    You can open the file in a text editor like Notepad++ to check its delimiter.

In [6]:
lending_co_TP = np.genfromtxt("Lending-Company-Total-Price.csv", delimiter = ',')

In [7]:
lending_co_TP

array([[   nan,    nan,    nan, ...,    nan,    nan,    nan],
       [    1.,    nan,    nan, ...,    nan,    nan, 16600.],
       [    2.,    nan,    nan, ...,    nan,    nan, 16600.],
       ...,
       [  413.,    nan,    nan, ...,    nan,    nan, 16600.],
       [  414.,    nan,    nan, ...,    nan,    nan, 15600.],
       [  415.,    nan,    nan, ...,    nan,    nan, 22250.]])

### 4. Using the arguments of the np.genfromtxt() function, do the following data cleaning:
    A) Set the data type to strings. 
    B) Skip the first row of the dataset. 
    C) Skip the last 15 rows of the dataset. 
    D) Only pull data from the 2nd, 3rd and 5th columns. 
   (Note: You can do all of these at the same time.)

In [11]:
lending_co_TP = np.genfromtxt("Lending-Company-Total-Price.csv",
                                delimiter=',',
                                dtype = str,
                                skip_header=0,
                                skip_footer=15,
                                usecols=(1, 2, 4))

lending_co_TP

array([['StringID', 'Product', 'Location'],
       ['id_1', 'Product B', 'Location 2'],
       ['id_2', 'Product B', 'Location 3'],
       ...,
       ['id_398', 'Product A', 'Location 29'],
       ['id_399', 'Product B', 'Location 73'],
       ['id_400', 'Product B', 'Location 53']], dtype='<U12')

### 5. Refer to the documentation of the np.genfromtxt() function and examine the following arguments and what they do:
    A) comments
    B) converters 
    C) missing_values
    D) excludelist
    E) deletechars
    D) replace_space 
    E) autostrip
   (You're <b>not</b> expected to provide any coding for this part. The cell below is provided for your convenience in case you want to try using the arguments as you go through them.)

In [14]:
lending_co_TP = np.genfromtxt("Lending-Company-Total-Price.csv",
                              delimiter=',',
                              dtype = str,
                              skip_header = 0,
                              skip_footer = 15,
                              usecols = (1, 2, 4),
                              comments = '#',
                              converters = None,
                              missing_values = None,
                              excludelist = None,
                              deletechars = " !#$%&'()*+,-./:;<=>?@[\\]^{|}~",
                              replace_space = '_',
                              autostrip = True
                              )

lending_co_TP

array([['StringID', 'Product', 'Location'],
       ['id_1', 'Product B', 'Location 2'],
       ['id_2', 'Product B', 'Location 3'],
       ...,
       ['id_398', 'Product A', 'Location 29'],
       ['id_399', 'Product B', 'Location 73'],
       ['id_400', 'Product B', 'Location 53']], dtype='<U12')

### 6. Now that you understand what these arguments do, add them to the code you wrote a few cells ago. 
    A) comments
    B) converters 
    C) missing_values
    D) excludelist
    E) deletechars
    D) replace_space 
    E) autostrip
   <b>Note</b>: If you don't know what values to set, just refer to the documentation and set the defaults.

In [15]:
lending_co_TP = np.genfromtxt("Lending-Company-Total-Price.csv",
                              delimiter=',',
                              dtype = str,
                              skip_header = 0,
                              skip_footer = 15,
                              usecols = (1, 2, 4),
                              comments = '#',
                              converters = None,
                              missing_values = None,
                              excludelist = None,
                              deletechars = " !#$%&'()*+,-./:;<=>?@[\\]^{|}~",
                              replace_space = '_',
                              autostrip = True
                              )

lending_co_TP

array([['StringID', 'Product', 'Location'],
       ['id_1', 'Product B', 'Location 2'],
       ['id_2', 'Product B', 'Location 3'],
       ...,
       ['id_398', 'Product A', 'Location 29'],
       ['id_399', 'Product B', 'Location 73'],
       ['id_400', 'Product B', 'Location 53']], dtype='<U12')

### 7. The first and last columns were the only ones with numeric data, so let's import only them.

In [16]:
lending_co_TP = np.genfromtxt("Lending-Company-Total-Price.csv",
                                delimiter=',',
                                dtype=str,
                                skip_header=1,
                                usecols=(0,-1))

lending_co_TP

array([['1', '16600'],
       ['2', '16600'],
       ['3', '15600'],
       ['4', '16600'],
       ['5', '20250'],
       ['6', ''],
       ['7', '20250'],
       ['8', '16600'],
       ['9', '22250'],
       ['10', '20250'],
       ['11', '16600'],
       ['12', '20250'],
       ['13', '16600'],
       ['14', '20750'],
       ['15', '22250'],
       ['16', '16600'],
       ['17', '22250'],
       ['18', '16600'],
       ['19', '16600'],
       ['20', '54625'],
       ['21', '16600'],
       ['22', '22250'],
       ['23', '19250'],
       ['24', '15600'],
       ['25', '20250'],
       ['26', '22250'],
       ['27', '19250'],
       ['28', '69225'],
       ['29', '20250'],
       ['30', '16600'],
       ['31', '16600'],
       ['32', '16600'],
       ['33', '19250'],
       ['34', '16600'],
       ['35', '19250'],
       ['36', '16600'],
       ['37', '16600'],
       ['38', '16600'],
       ['39', '15600'],
       ['40', '16600'],
       ['41', '16600'],
       ['42', '16600'],
       ['43', '19250'],
       ['44', '15600'],
       ['45', '19250'],
       ['46', '16600'],
       ['47', '16600'],
       ['48', '16600'],
       ['49', '20250'],
       ['50', '22250'],
       ['51', '16600'],
       ['52', '20250'],
       ['53', '20250'],
       ['54', '16600'],
       ['55', '16600'],
       ['56', '16600'],
       ['57', ''],
       ['58', '16600'],
       ['59', '16600'],
       ['60', '16600'],
       ['61', '19250'],
       ['62', '15600'],
       ['63', '15600'],
       ['64', '20250'],
       ['65', '16600'],
       ['66', '22250'],
       ['67', '22250'],
       ['68', '20250'],
       ['69', '20250'],
       ['70', '16600'],
       ['71', '15600'],
       ['72', '16600'],
       ['73', '16600'],
       ['74', '22250'],
       ['75', '20750'],
       ['76', '22250'],
       ['77', '19250'],
       ['78', '20250'],
       ['79', '20250'],
       ['80', '20250'],
       ['81', '19250'],
       ['82', '16600'],
       ['83', '22250'],
       ['84', '20250'],
       ['85', '16600'],
       ['86', '19250'],
       ['87', '22250'],
       ['88', '16600'],
       ['89', '19250'],
       ['90', '16600'],
       ['91', ''],
       ['92', '20250'],
       ['93', '16600'],
       ['94', '16600'],
       ['95', '19250'],
       ['96', '16600'],
       ['97', '16600'],
       ['98', '22250'],
       ['99', '22250'],
       ['100', '16600'],
       ['101', '16600'],
       ['102', '19250'],
       ['103', '16600'],
       ['104', '22250'],
       ['105', '19250'],
       ['106', '16600'],
       ['107', '16600'],
       ['108', '19250'],
       ['109', '16600'],
       ['110', '22250'],
       ['111', '16600'],
       ['112', '15600'],
       ['113', '16600'],
       ['114', '20250'],
       ['115', '16600'],
       ['116', '19250'],
       ['117', '19250'],
       ['118', '19250'],
       ['119', '15600'],
       ['120', '22250'],
       ['121', '22250'],
       ['122', '16600'],
       ['123', '20250'],
       ['124', '16600'],
       ['125', '16600'],
       ['126', '20750'],
       ['127', '20250'],
       ['128', '16600'],
       ['129', '16600'],
       ['130', '16600'],
       ['131', '15600'],
       ['132', '16600'],
       ['133', '15600'],
       ['134', '19250'],
       ['135', '16600'],
       ['136', '16600'],
       ['137', '20250'],
       ['138', '19250'],
       ['139', '15600'],
       ['140', '16600'],
       ['141', '16600'],
       ['142', '16600'],
       ['143', '15600'],
       ['144', '16600'],
       ['145', '15600'],
       ['146', '19250'],
       ['147', '22250'],
       ['148', '20250'],
       ['149', '19250'],
       ['150', '22250'],
       ['151', '16600'],
       ['152', '22250'],
       ['153', '54625'],
       ['154', '54625'],
       ['155', '16600'],
       ['156', '22250'],
       ['157', '22250'],
       ['158', '22250'],
       ['159', '22250'],
       ['160', '15600'],
       ['161', ''],
       ['162', '16600'],
       ['163', '22250'],
       ['164', '20250'],
       ['165', '22250'],
       ['166', '16600'],
       ['167', '19250'],
       ['168', '20250'],
       ['169', '16600'],
       ['170', '20250'],
       ['171', '16600'],
       ['172', '16600'],
       ['173', '20250'],
       ['174', '20250'],
       ['175', '16600'],
       ['176', '20250'],
       ['177', '19250'],
       ['178', '16600'],
       ['179', '20750'],
       ['180', '20250'],
       ['181', '22250'],
       ['182', '16600'],
       ['183', '20250'],
       ['184', '20250'],
       ['185', '16600'],
       ['186', '20250'],
       ['187', '20750'],
       ['188', '16600'],
       ['189', '16600'],
       ['190', '22250'],
       ['191', '22250'],
       ['192', '22250'],
       ['193', '16600'],
       ['194', '54625'],
       ['195', '16600'],
       ['196', '22250'],
       ['197', '16600'],
       ['198', '20250'],
       ['199', '22250'],
       ['200', '15600'],
       ['201', '20250'],
       ['202', '16600'],
       ['203', '54625'],
       ['204', '16600'],
       ['205', '16600'],
       ['206', '22250'],
       ['207', '19250'],
       ['208', '19250'],
       ['209', '19250'],
       ['210', '22250'],
       ['211', '15600'],
       ['212', '22250'],
       ['213', '15600'],
       ['214', '16600'],
       ['215', '22250'],
       ['216', '22250'],
       ['217', '16600'],
       ['218', '20750'],
       ['219', '19250'],
       ['220', '16600'],
       ['221', ''],
       ['222', '16600'],
       ['223', '22250'],
       ['224', '19250'],
       ['225', '16600'],
       ['226', '16600'],
       ['227', '19250'],
       ['228', '19250'],
       ['229', '16600'],
       ['230', '20250'],
       ['231', '22250'],
       ['232', '15600'],
       ['233', '16600'],
       ['234', '16600'],
       ['235', '54625'],
       ['236', '19250'],
       ['237', '22250'],
       ['238', '16600'],
       ['239', '22250'],
       ['240', '19250'],
       ['241', '19250'],
       ['242', '20750'],
       ['243', '20750'],
       ['244', '16600'],
       ['245', '16600'],
       ['246', '22250'],
       ['247', '16600'],
       ['248', '16600'],
       ['249', '16600'],
       ['250', '16600'],
       ['251', '15600'],
       ['252', '19250'],
       ['253', '20250'],
       ['254', '22250'],
       ['255', '19250'],
       ['256', '22250'],
       ['257', '22250'],
       ['258', '22250'],
       ['259', '16600'],
       ['260', '20250'],
       ['261', '16600'],
       ['262', '16600'],
       ['263', '16600'],
       ['264', '19250'],
       ['265', '16600'],
       ['266', '16600'],
       ['267', '15600'],
       ['268', '16600'],
       ['269', '22250'],
       ['270', '19250'],
       ['271', ''],
       ['272', '22250'],
       ['273', '15600'],
       ['274', '15600'],
       ['275', '16600'],
       ['276', '19250'],
       ['277', '16600'],
       ['278', '54625'],
       ['279', '16600'],
       ['280', '16600'],
       ['281', '16600'],
       ['282', '19250'],
       ['283', '22250'],
       ['284', '22250'],
       ['285', '16600'],
       ['286', '19250'],
       ['287', '19250'],
       ['288', '15600'],
       ['289', '54625'],
       ['290', '16600'],
       ['291', '16600'],
       ['292', '15600'],
       ['293', '20250'],
       ['294', '19250'],
       ['295', '19250'],
       ['296', '15600'],
       ['297', '15600'],
       ['298', '19250'],
       ['299', '16600'],
       ['300', '20250'],
       ['301', '20750'],
       ['302', '16600'],
       ['303', '16600'],
       ['304', '16600'],
       ['305', '22250'],
       ['306', '16600'],
       ['307', '22250'],
       ['308', '20250'],
       ['309', '16600'],
       ['310', '19250'],
       ['311', '22250'],
       ['312', '16600'],
       ['313', '15600'],
       ['314', '16600'],
       ['315', '16600'],
       ['316', '15600'],
       ['317', '16600'],
       ['318', '20250'],
       ['319', '19250'],
       ['320', '20250'],
       ['321', '16600'],
       ['322', '22250'],
       ['323', '16600'],
       ['324', '22250'],
       ['325', '22250'],
       ['326', '19250'],
       ['327', '54625'],
       ['328', '13775'],
       ['329', '16600'],
       ['330', '16600'],
       ['331', ''],
       ['332', '20750'],
       ['333', '16600'],
       ['334', '19250'],
       ['335', '22250'],
       ['336', '20250'],
       ['337', '22250'],
       ['338', '19250'],
       ['339', '16600'],
       ['340', '15600'],
       ['341', '20250'],
       ['342', '22250'],
       ['343', '22250'],
       ['344', '16600'],
       ['345', '22250'],
       ['346', '20250'],
       ['347', '16600'],
       ['348', '22250'],
       ['349', '19250'],
       ['350', '16600'],
       ['351', '16600'],
       ['352', '15600'],
       ['353', '19250'],
       ['354', '16600'],
       ['355', '20250'],
       ['356', '16600'],
       ['357', '22250'],
       ['358', '16600'],
       ['359', '15600'],
       ['360', '20250'],
       ['361', '22250'],
       ['362', '20250'],
       ['363', '16600'],
       ['364', '22250'],
       ['365', '16600'],
       ['366', '16600'],
       ['367', '16600'],
       ['368', '20250'],
       ['369', '16600'],
       ['370', '16600'],
       ['371', '16600'],
       ['372', '19250'],
       ['373', '20250'],
       ['374', '16600'],
       ['375', '16600'],
       ['376', '22250'],
       ['377', '19250'],
       ['378', '22250'],
       ['379', '16600'],
       ['380', '19250'],
       ['381', ''],
       ['382', '20250'],
       ['383', '20750'],
       ['384', '16600'],
       ['385', '16600'],
       ['386', '16600'],
       ['387', '16600'],
       ['388', '20250'],
       ['389', '16600'],
       ['390', '22250'],
       ['391', '15600'],
       ['392', '16600'],
       ['393', '16600'],
       ['394', '15600'],
       ['395', '16600'],
       ['396', '15600'],
       ['397', '19250'],
       ['398', '20250'],
       ['399', '16600'],
       ['400', '16600'],
       ['401', '16600'],
       ['402', '16600'],
       ['403', '15600'],
       ['404', '16600'],
       ['405', '19250'],
       ['406', '16600'],
       ['407', '20250'],
       ['408', '20250'],
       ['409', '69225'],
       ['410', '15600'],
       ['411', '16600'],
       ['412', '16600'],
       ['413', '16600'],
       ['414', '15600'],
       ['415', '22250']], dtype='<U5')

In [ ]:
# importing json files

In [17]:
prices_per_product = '{"MacBook Pro": 2000, "iPad": 1000, "iPhone": 1200}'
prices_per_product

'{"MacBook Pro": 2000, "iPad": 1000, "iPhone": 1200}'

In [18]:
type(prices_per_product)

str

In [19]:
import json

In [20]:
parsed_str = json.loads(prices_per_product)
parsed_str

{'MacBook Pro': 2000, 'iPad': 1000, 'iPhone': 1200}

In [21]:
type(parsed_str)

dict

In [22]:
import pandas as pd

In [24]:
new_csv_file = pd.read_json("Lending-Company.json")
new_csv_file

,Loan ID,String_ID,Product,CustomerGender,Location,Region,TotalPrice,StartDate,Deposit,DailyRate,TotalDays,AmountPaid30,AmountPaid60,AmountPaid360,LoanStatus360
0,1,id_1,Product B,Male,Location 2,Region 2,16600,7/4/2014,2000,40,365,3121,4241,13621,Active
1,2,id_2,Product B,Male,Location 3,Region 3,16600,1/2/2015,2000,40,365,3061,4171,15041,Active
2,3,id_3,Product C,Female,Location 5,Region 5,15600,12/8/2012,1000,40,365,2160,3280,15340,None
3,4,id_4,Product B,Male,Location 6,Region 1,16600,2/20/2015,2000,40,365,3041,4241,15321,Active
4,5,id_5,Product D,Female,Location 7,Region 2,20250,10/28/2013,2000,50,365,3470,4820,13720,Active
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1038,1039,id_1039,Product B,Female,Location 39,Region 6,16600,12/29/2014,2000,40,365,3401,4601,16600,Finished Payment
1039,1040,id_1040,Product B,Male,Location 50,Region 1,16600,3/28/2014,2000,40,365,4240,5440,16600,Finished Payment
1040,1041,id_1041,Product B,Male,Location 23,Region 4,16600,4/26/2014,2000,40,365,4201,5001,16600,Finished Payment
1041,1042,id_1042,Product C,NotSpecified,Location 52,Region 6,15600,10/25/2012,1000,40,365,2080,3320,15600,Finished Payment
1042,1043,id_1043,Product B,Female,Location 142,Region 6,16600,5/15/2015,2000,40,365,4601,4601,16600,Finished Payment

In [25]:
type(new_csv_file)

pandas.core.frame.DataFrame